<h1>AjaxApp</h1>
<%= form_with url:  "/posts", method: :post,id: "form" do |form| %>
  <%= form.text_field :content , id: "content" %>
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>
<%# 投稿後にメモを追加する要素 %>
<div id="list">
</div>

<% @posts.each do |post| %>
  <%# カスタムデータ属性メモのidを追加 %>
  <div class="post" data-id=<%= post.id %> 
  <%# 既読の有無を管理するcheckedカラムの情報を追加 %>
  data-check=<%= post.checked %>>
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>